.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
node_modules/
__pycache__/
*.py[cod]
.dart_tool/
build/
dist/
target/
.gradle/
